<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Requested Hair Appointment</h1>
    <p>
    </p>
    <p>Hello <%= @appointment.first_name %>, 
	</p>
	<p>We've sent Alicia your off request for 
		<%= @appointment.service %> 
		appointment on
		<%= @appointment.appot.localtime %> </p>
	<p>She'll contact you shortly to confirm or reschedule.</p>
    <p>Thanks for requesting an appointment and have a great day!</p>
  </body>
</html>