<div class="header-strip">
	<h1>New appointment</h1>
</div>
<p>Welcome to Alysia's Beauty Shop! </br>
Request an appointment by filling out the form below.
Alysia will get in touch with you to confirm or reschedule your appointment.</p>

<%= render 'form' %>

<!--<%= link_to 'Back', appointments_path %>-->
