<%= image_tag('alysia_logo.png', :alt => 'Alysia') %>

<h1>New appointment</h1>
<p>Welcome to Alysia's Beauty Shop!
Request an appointment by filling out the form below.
Alysia will get in touch with you to confirm or reschedule your appointment.</p>

<%= render 'form' %>

<!--<%= link_to 'Back', appointments_path %>-->
