<!DOCTYPE html>
<html>
<head>
  <title>Alysia Hair Services In Truckee</title> 

  <!--load title with keywords, 98 characters-->
<p>Whether it's a Hair Cut for Men, Women, or Hair Coloring Services, Alysia is the Hair Stylist you can trust.</p>

  <head>
	<meta name="description" content="Hair Cut", "Hair Style", "Color", "Coloring">
 </head>



  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
