<!DOCTYPE html>
<html>
<head>
  <title>Men's Hair Cuts, Women's Hair Cuts, Coloring In Truckee</title> 
  <meta name="description" content="Professional, experienced stylist Alicia offers men's haircuts, women's 
	haircuts and coloring in Truckee.">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
<%= yield %>

</body>
</html>
